@import "../src/index.scss";
.app {
  position: relative;
  max-width: 120rem;
  .go__up {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: $yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
